html, ul, li {
    margin: 0;
    padding: 0;
    color: yellow;
}
.body {
    background: url(../images/background.jpg) no-repeat top center black;
}

#mainContent {
    padding-top: 20px;
    margin: 0 auto;
}
.textPerson {
    position: relative;
    top: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.imagePerson {
    position: relative;
    left: 87%;
    bottom: 12px;
    padding: 3px;
    font-size: 15px;
}
.person:hover {
    background:  yellow;
    color: black;
    cursor: pointer;   
}
.person {
    background: black;
    margin: 2px 5px 4px 5px;
    border: solid 2px rgb(255, 238, 2); 
    border-radius: 6px;
}
#pagination {
    display: flex;
    width: 90%;
    margin: 0 5%;
    padding: 3px;
    justify-content: space-between;
}
.MyPagination {
    width: 50px; 
    background-color: yellow;
    color: black;
    border-radius: 10px;
    border: solid 1px black;
    cursor: pointer;
}
.MyPaginationDisabled {
    width: 50px; 
    background-color: yellow;
    color: black;
    border-radius: 10px;
    border: solid 1px black;
}
.MyPaginationDisabled p {
    position: relative;
    top: 8px;
}
.MyPagination:hover {
    background: black;
    color: yellow;
}
#pagination :focus {
    border: 0;
}
.MyPagination p {
    position: relative;
    top: 8px;
}

#load { 
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url(../images/spinner2.gif) no-repeat top center white;
}
.person ul {
    border-radius: 10px;
    height: 146px;
    margin: 5px;
}
.person ul li { 
    height: 30px;
    font-size: 15px;
    padding: 4px;
    border: solid 1px yellow;
    background-color: black;
    color: yellow;
}
.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#searchDiv {
    display: flex;
    height: 35px;
    padding: 0 5px;
    border-radius: 9px;
}
.searchInput {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 70%;
    margin-bottom: 3px;
    color: red;
}
.searchButton {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 30%;
    margin-bottom: 3px;
    cursor: pointer;
}
.searchButton p {
    position: relative;
    top: 2.5px;
}
#searchDiv ::placeholder {
    color: red;
}
#buttonShow {
    width: 90%;
    margin: 5px 5%;
    background: yellow;
    color: black;
    border-radius: 15px;
    border: black solid 3px;
}
#buttonShow:hover {
    background: black;
    color: yellow;
}